body {
    background-color: darkgrey;
    font-family: Helvetica, Arial, sans-serif;
}

.business-cards {
    margin-top: 15px;
}

.card {
    background-color: lightblue;
    border-radius: 20px;
    height: auto;
    margin: 15px auto 15px auto;
    padding: 15px 15px 15px 15px;
    width: 33%;
    text-align: center;
}

#card-data {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 5px 15px 5px 15px;
}
.login-fields {
    text-align: center;
}

#name {
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
}

.signup-fields {
    text-align: center;
}

#signup-header {
    margin-top: 100px;
}

h1 {
    text-align: center;
}

.number-field {
     text-align: center;
}